body { background: #a36f9d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 37px; display: flex; }
.block-helper-0 { color: #4a4e74; font-size: 17px; margin-bottom: 5px; }
.block-cache-1 { color: #829bfc; font-size: 17px; margin-bottom: 5px; }
.block-uploader-2 { color: #2cee52; font-size: 20px; margin-bottom: 5px; }
.block-sms-3 { color: #70c404; font-size: 17px; margin-bottom: 5px; }
.block-uploader-4 { color: #75fca; font-size: 13px; margin-bottom: 5px; }
.block-shipping-5 { color: #f0a2b4; font-size: 16px; margin-bottom: 5px; }
.block-notify-6 { color: #c7e07; font-size: 18px; margin-bottom: 5px; }